.alertcik {
  width: 450px;
  height: 200px;
  border: 1px solid #d9d9d9;
  border-radius:23px;
  font-size: 16px;
  font-family: Verdana;
}

.alertcik hr {
  width: 430px;
  border:1px solid #d9d9d9;
}

.alertcik-header {
  width: 420px;
  height : 20px;
  float: left;
  margin-top: 23px;
  text-indent: 1em;
}

.alertcik-body {
  text-indent: 1em;
  height : 90px;
  color:#333;
  font-family:verdana;
  font-size:10pt;
}

.alertcik-buttons {
  height:20px;
}

.alertcik-buttons span {
  width:90px;
  background-color:#FFC107;
  height:22px;
  border-radius:23px;
  font-size:11pt;
  padding:3px;
  color:#333333;
  text-align:center;
  border: 1px solid #d9d9d9;
  margin-right: 10px;
  float: right;
}

.alertcik-close {
   margin-top: 20px;

}
